
.banner {
    background: var(--azul-degrade);
    font-family: var(--fonte-principal);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2.5em 2em;
}

.banner__titulo {
   font-weight: 700;
   font-size: 18px;   
   
}

.banner__texto {    
    font-weight: 350;
    padding: 1em;
    font-size: 16px;
    line-height: 1.5em;/* Para alterar o espacamento entre linhas se utiliza essa propriedade "line-height" a medida de 1.5em e uma medida padra para melhor leitura. A propriedade "em" faz o calculo multiplicando o "px" do tamanho da fonte*/
}

.banner__pesquisa {
    color: var(--branco); /*esse color e para alterar a cor da escrida dentro da caixa de pesqisa*/
    width: 100%; /*este item determina o tamanho de ocupaçoa na tela*/
    display: flex;
    text-align: center;/*este item centraliza o testo digitado na caixa de pesquisa*/
    font-weight: 200; /*esse item determina o peso da fonte ao digitar na caixa de pesquisa*/
    font-size: 14px; /*este item determina o tamanh da fonte*/
    padding: 1em;
    border-radius: 24px;
    border: 1px solid var(--branco); /*Para construir a borda da caixa de pesquisa, e preciso 3 informaçoes na ordem "tamanho 1px, o tipo solid (o tipo tem outras variedades) e a cor"*/
    background-color: transparent;    
}

.banner__pesquisa::placeholder { /*Para alterar a cor do contexto de dica da barra de pesquisa precisa fazer esse comando de comparação*/
    color: var(--branco);
    opacity: 0.6;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: left center;/*para centralizar a lupa de pesquisa no centro da caixa de pesquiza tanto no eixo "y" quanto no eixo "x"*/
    background-position-x: 10%;/*para fazer com que a lupa de pesquisa chegue um pouco para a direita chegando mais perto do texto da caixa de pesquisa*/
}

