hr {
    margin: 0;
}


.footer {
    color: var(--azul);
    background-color: var(--branco);
    display: flex;
    text-align: left;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 300;
    padding: 1em;
}

