.topicos {
    background: var(--azul-degrade);
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2em 0em;
    border-top: 15px solid var(--branco);
}

.topicos__titulos {
    margin: 0em 0em 2em 0em;
    font-size: 16px;
    font-weight: 100;
    color: var(--branco);
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.topicos__item {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;    
    margin: 0.7em;
}

.topicos__link {
    text-decoration: none;
    color: var(--branco);
    padding: 1.5em;    
    background-color: var(--laranja);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

